@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: orange;
}
.FlexBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}
@media only screen and (max-width: 768px) {
  .FlexBox {
    grid-template-columns: repeat(2, 1fr);

  }
}
@media only screen and (max-width: 420px) {
  .FlexBox {
    display: flex;

  }
}
.Card {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-top: 1em;
}
.FlexItem {
  margin: 2em; 
}
.App {
  background-color: #5BC0DE;
  border-style: inset;
}
.ContentBox {
  background-color: rgba(250, 250, 250, 0.7);
  margin: 30px;
  border-style: outset;
}
.CardField {
  margin: 20px;
  padding: 20px;
}
.Button {
  margin: 3px;
}
table, th, td {
  text-align: center;
  border-style: double;
  background-color: rgba(91, 192, 222, 0.5);
}
input {
  margin: 3px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
